{% extends "human_res/base.html" %}

{% block page_head %}
  <h3>Are you sure you want to remove employee {{ employee }}?</h3>
{% endblock %}

{% block content_col %}

  <form action="{% url 'human_res:employee-delete' pk=employee.id %}" method="POST">
    {% csrf_token %}

    <div>
        <button type='submit' class="btn btn-danger">Yes, remove employee.</button>
        <a href="{% url 'human_res:employee-list' %}" class="btn btn-default" role="button">No, cancel.</a>
    </div>

  </form>

{% endblock content_col %}
